<!DOCTYPE html>  
<html lang = "en">
	<head>
		<meta charset="utf-8">
		<title>Kalkulator</title>
		<link href="/public/style.css" rel="stylesheet">
	</head>

<body>

<header>
	<div class="container">
		<h1><a href="/">Kalkulator</a></h1>
	</div>
</header>
angka1
<input type="number" name="num1" id="n1"></input>
angka2
<input type="number" name="num2" id="n2"></input>
<a href="/tambah/n1/n2">Tambah</a>
<a href="/kurang">Kurang</a>
<a href="/kali">Kali</a>
<a href="/bagi">Bagi</a>
<footer>
    <div class="container">
    </div>
  </footer>
  
  </body>
  </html>